@import "../../vars.css";

.container {
    margin-top: 79px;
    margin-bottom: 35px;
    padding-bottom: 55px;
    background-color: var(--background-dark-color);
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;    
}

.paragraph {
    padding: 20px 0;
    gap: 20px;
}

p a {
    font-weight: bold;
    color: var(--font-light-color);
}

h1 {
    padding-top: 50px;
    text-align: center;
}

h2, h3, h4{
    padding-top: 3%;
    text-align: center;
}

p {
    padding-top: 3%;
    text-align: center;
    line-height: 2rem;
}

@media screen and (max-width: 830px){
    .container {
        margin-top: 180px;
    }
}