@import "../../vars.css";

.container {
    margin-top: 79px;
    margin-bottom: 35px;
    padding-bottom: 55px;
    background-color: var(--background-dark-color);
    width: 100%;
}

.title {
    padding-top: 250px;
    padding-bottom: 350px;
}

.paragraph {
    padding: 20px 0;
    gap: 20px;
}

h1 {
    padding-top: 50px;
    text-align: center;
}

p {
    padding-top: 3%;
    text-align: center;
    line-height: 2rem;
}

@media screen and (max-width: 830px){
    .container {
        margin-top: 180px;
    }
}