@import "../../vars.css";

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70vh;
}

h1 {
    padding-top: 5%;
    text-align: center;
}

p {
    padding-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}