:root {
    --background-dark-color: #000000;
    --background-dark-grey: #464646;
    --background-light-grey: #c2c2c2;
    --backgriound-light-color: #f1f1f1;
    --font-dark-color: #000b2e;
    --font-light-color: #ffffff;
}